html {
	background: #0a0a0a;
}

html, body {
	margin: 0;
	height: 100%;
	color: white;
	font-family: "Inter";
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	scroll-snap-type: y proximity;
}

h1 {
	font-family: "InterDisplay";
	font-size: 7em;
	margin-bottom: 0px;
}

h2 {
	font-family: "InterDisplay";
	font-weight: 800;
	font-size: 3em;
	margin-bottom: 0px;
}

h3 {
	font-size: 2.5em;
	margin-bottom: 0px;
}

h4 {
	font-size: 1.75em;
	margin-bottom: 0px;
}

hr {
	width: 2em;
	margin-left: 0px;
}

p {
	font-size: 1.5em;
}

li {
	font-size: 1.5em;
	padding-bottom: .5em;
}

.goofy {
	background: -webkit-linear-gradient(45deg, #3f5efb 0%, #fc466b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cover {
	width: 100%;
	height: 100%;
	background: none;
	display: flex;
/*}

.click {*/
	scroll-snap-align: center;
}

.vert {
	flex-direction: column;
}

.hori {
	flex-direction: row;
}

.column {
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
}

.even .column {
	flex: 50%;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
}

@media only screen and (orientation: portrait) {
	.cover {
		flex-direction: column;
	}

	.hori {
		flex-direction: column;
	}

	.column {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 10%;
		margin-right: 10%;
	}

	.row {
		margin-left: 10%;
		margin-right: 10%;
	}
}

.notopmargin {
	margin-top: 0px;
}

.nobottommargin {
	margin-bottom: 0px;
}

@media only screen and (orientation: landscape) {
	.column {
		display: table-cell;
		vertical-align: middle;
	}
}

.icon {
	height: 2em;
}

.content {
	overflow: hidden;
}

.person {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	margin-bottom: .5em;
}

.person img {
	height: 4em;
	width: 4em;
	border-radius: 50%;
	padding-right: 1em;
}

.person p {
	margin: 0px;
}

.person i {
	color: #c0c0c0;
}

#particles-js {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
